<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, size: 40 %>
  </div>
    <%= form.text_field :email, size: 40 %>
  </div>
  <h3>Shipping Address Details</h3>
  <%= render partial: 'shared/forms/address', locals: { form: form, address: order.address } %>
  <div id="pay-type-component"></div>
  <div class="actions">
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
