<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, size: 40 %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_area :address, rows: 3, cols: 40 %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, size: 40 %>
  </div>

  <%# Replaced with React component
  <div>
    <%= form.label :pay_type % >
    <%= form.select :pay_type, Order.pay_types.keys, prompt: 'Select a payment method' % >
  </div> %>

  <%# Added to use React component here%>
  <div id="pay-type-component"></div>

  <div class="actions">
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
