<tr id="<%= dom_id product %>" class="<%= cycle('list_line_odd', 'list_line_even') %>">

  <td class="description">
    <h1><%= product.title %></h1>
    <h3>Product Images</h3>
    <div class="image-container">
      <% if first_image %>
        <%= image_tag generate_image_url(product.images[0]), width: '250', height: '250' %>
      <% else %>
        <% product.images.each do |image| %>
          <%= image_tag generate_image_url(image), width: '250', height: '250' %>
        <% end %>
      <% end %>
    </div>
    <p>
      <%= format_html_to_overview(product.description, length: 80) %>            
    </p>
  </td>

  <td class="actions">
    <ul>
      <li><%= link_to 'Show', product %></li>
      <li><%= link_to 'Edit', edit_product_path(product) %></li>
      <li>
        <%= 
          link_to('Destroy',
            product,
            method: :delete,
            data: { confirm: 'Are you sure?' })
        %>
      </li>
    </ul>
  </td>
</tr>
